.landing-container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
}
.heading {
  font-size: 39px;
  margin-bottom: 40px;
}

.clr-btn {
  background-color: #a0aec0;
  border: none;
  outline: none;
}
